<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="color:black;background-color:bisque">
    <center>
    <h2 style="color:red;background-color:aqua">{{name}}</h2>
    <h1>in ninja is used to inline css formates in app2</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt eveniet, molestiae mollitia hic eum assumenda delectus exercitationem, aspernatur voluptate, iure iste cumque ducimus. Illum vero, hic dicta veniam velit error?</p>
    
</center>
<h1>tittle</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam est ea nihil quas esse suscipit nostrum tenetur eaque accusantium explicabo vel, culpa possimus inventore perspiciatis ex officia quod recusandae voluptatum?</p>
</body>
</html>